<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
<div>
    <form method="post" action="/admin/auth">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
